.post {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postControl {
    display: flex;
    align-items: center;
}

.postControl button {
    padding: 0;
}

.editBtn svg {
    font-size: 32px;
}

.deleteBtn svg{
    font-size: 40px;
}
