.editPostForm {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;

    background-color: white;
    width: 350px;
    padding: 20px;

    text-align: center;
    border-radius: 10px;
}
.editPostForm input, .editPostForm textarea {
    height: 100%;
    width: 100%;
}

h2 {
    margin-top: 0;
}

.editPostForm div + div {
    margin-top: 10px;
}

.editFormInput {
    padding: 10px;
    width: 100%;
}
.hideBtn {
    position: absolute;
    top: 5px;
    right: 0px;
}

.overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background: rgba(1, 1, 1, .5);
}
