@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&display=swap');

.App {

}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

a {
  text-decoration: none;
}
button {
  outline: unset;
  border:none;
  cursor: pointer;
  background-color: unset;
  font-family: inherit;
  font-size: 18px;
}

input, textarea {
  font-family: inherit;
  font-size: 18px;
}

main {
  padding: 10px;
  min-height: calc(100vh - 100px);
}
h1 {
  text-align: center;
}

