@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.App {

}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}
button {
  outline: unset;
  border:none;
  cursor: pointer;
  background-color: unset;
  font-family: inherit;
}

main {
  max-width: 1024px;
  margin: 0 auto;
  padding: 10px;
  min-height: calc(100vh - 100px);
}
h1 {
  text-align: center;
}

